 <html>
<head>
<style>
 
h1 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 
</style>
</head>
<body>

<div>
  <h1>Conclusion and Future Work</h1>
  <p>The introduced GDU model also works for both the news
subjects and creator nodes in the network. When applying the
GDU to model the states of the subject/creator nodes with
two input only, the remaining input port can be assigned with
a default value (usually vector 0). Based on the GDU, we
can denote the overall architecture of the FAKEDETECTOR
as shown in Figure 4, where the lines connecting the GDUs
denote the data flow among the unit models. In the following
section, we will introduce how to learn the parameters involved
in the FAKEDETECTOR model for concurrent credibility inference of multiple nodes.
</P>
 
  
</div>
 <input type="button" class="button" onclick="window.location.href='{{url_for('first')}}';" value="HOME" />
</body>
</html>
